<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva Contraseña</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<form method="POST" class="box">

    <h2>Restablecer Contraseña</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p class="success">{{ success }}</p>

        <p style="text-align:center;">
            Serás redirigido al inicio de sesión en 3 segundos...
        </p>

        <script>
            setTimeout(function() {
                window.location.href = "/";
            }, 3000);
        </script>
    {% endif %}
    <input type="password"
           name="password"
           placeholder="Nueva contraseña"
           required>

    <input type="password"
           name="confirm_password"
           placeholder="Confirmar contraseña"
           required>

    <button type="submit">
        Guardar
    </button>

</form>

</div>

</body>
</html>